@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

:root{

    /* all colors  */
--color-bg:#1f1f1f;
--color-bg-variant:#2c2c6c;
/* --color-primary:#4db5ff; */
--color-primary-variant:rgba(77,181,255,0.4);
--color-primary:#e16e16;
--color-grey-1:#dbe1e8;
--color-white:#FFFFFF;

/* transitions */
--transition: all 400ms ease;

/* width for media quiries */
--container-width-lg:75%;
--container-width-md:86%;
--conntainer-width-sm:90%;
}

body{
    font-family: 'Poppins', sans-serif;
    background:var(--color-bg);
    line-height: 1.7;
    color: var(--color-white);

    /* images later  */
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1,h2,h3,h4,h5{
    font-weight: 500;
}

header > h2, header > p {
    color: var(--color-primary);
    margin-bottom: 4rem;
    text-align: center;
     
}



img{
    display: block;
    width: 100%;
    object-fit: cover;
}
footer
{  
    margin-bottom: 10rem;
    padding: 6rem 0rem 8rem 0rem;
}

.btn{
    color: var(--color-primary);
    width: max-content;
    display: inline-block;
    border: 2px solid var(--color-primary);
    transition: var(--transition);
    padding: 0.75rem 1.2rem;
    cursor: pointer;
    border-radius: 0.7rem;
}
.btn:hover{
    background: var(--color-white);
    color: var(--color-bg);
    border: transparent;
}
.text_light{
    color: var(--color-grey-1);
}

a{
    transition: var(--transition);
    color: var(--color-primary);
}
a:hover{
    color: var(--color-white);
}

.btn-primary{
    color: var(--color-bg);
    background: var(--color-white);
}

section {
    margin-top: 9rem;
}

section > h2{
    color: var(--color-primary);
margin-bottom: 4rem;
}


section > h2 , section > h5 {
    text-align: center;
    color: var(--color-grey-1);
} 


@media  screen and (max-width:1024px) {
    .container{
        width: var(--container-width-md);
    }
    section{
        margin-top: 6rem;
    }
}

@media screen and (max-width:600px){
    .container{
        width: var(--conntainer-width-sm);
    }
    .section > h2 {
        margin-bottom: 3rem;
    }
}