.details_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}
p {
    margin: 2rem 0rem 2.6rem;
color: var(--color-grey-1);
}
 .about_bank{
     
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 4rem;
        /* linear gradient is a shorthand for all background props  */
        background: linear-gradient(45deg, transparent, var(--color-primary),transparent);
        display: grid;
        place-items: center;
 }
    .about_bank_img{
        border-radius: 5rem;
        overflow: hidden;
        /* to rotate the img we transform it  */
        transform: rotate(15deg);
        transition: var(--transition);
        position: absolute;
        width: 472.65px;
        height:945.31px ;
        left: 702.05px;
        top:244.75px;
    }    
    .about_bank_img:hover{
         transform: rotate(0deg);
    }
    .services_details{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1.8rem;
    }
    .services{
        background: var(--color-bg-variant);
        border-radius: 3rem;
        border: 1px solid transparent;
        text-align: center;
        padding: 3rem;
    }
    
    .services:hover{
        background: transparent;
        border-color: var(--color-primary-variant);
        cursor: default;
    }
    
    .about_icon{
        color: var(--color-primary);
        font-size: 1.6rem;
        margin-bottom: 1.3rem;
    }
    
    .services h4 {
        font-size: 0.9rem;
    }
    .services strong {
        font-size: 0.68rem;
        color: var(--color-grey-1);
    }
    
    
    
    @media  screen and (max-width:1024px) {
        .details_container{
            grid-template-columns: 1fr;
            gap: 0;
        }
        .about_bank{
            width: 50%;
            margin: 2rem auto 4rem;
        }
         p {
            margin: 1rem 0 1.3rem;
        }
     }
     @media screen and (max-width:600px) {
          .about_bank{
            width: 60%;
            margin: 0 auto 3rem;
          }
          .services_details {
            grid-template-columns: 1fr 1fr;
            gap: 1.3rem;
          }
    
          .details{
            text-align: center;
          }
            p {
            margin: 1.5rem 0;
          }
     }